html, *:root {
    -moz-osx-font-smoothing: grayscale;
    color: #3d464d;
    font-family: "fira-sans-2",sans-serif;
    font-style: normal;
    font-weight: 600;    /* font-family: "NeueHaasUnica","Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-feature-settings: "liga", "kern";
    font-kerning: normal;
    font-size: 100%;
    line-height: 1.5;
    text-rendering: optimizelegibility;
}
body {
    /* font-family: "NeueHaasUnica","Helvetica Neue",Helvetica,Arial,sans-serif; */
    font-size: 1.5em;
    color:rgb(150,150,150);
    font-weight: 300;
}
p.title {
    color: rgb(200,50,50);
    font-style: italic;
    font-size: 2.5em;
}
a{
    color:rgb(150,150,150);
    font-weight: 300;
    text-decoration: none;
}
a:hover{
    color: rgb(10,10,10);
    font-weight: 500;

}
p.math_symbols{
    font-size: 1.5em;
    font-weight: 200;
}

